<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yk.skill.androidskillplatform"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- android:name=".TinkerApplicationLike" -->
    <application
        android:name=".TinkerApplicationLike"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".index.IndexActivity" />
        <activity android:name=".normal.listview.ListViewActivity" />
        <activity android:name=".normal.animation.AnimationActivity" />
        <activity android:name=".selfcreate.speedshow.SpeedShowActivity" />
        <activity android:name=".kotlin.KotlinActivity" />
        <activity android:name=".normal.bluetooth.BluetoothActivity" />
        <activity android:name=".webview.WebViewActivity" />
        <activity android:name=".selfcreate.toptitlebar.SelfTopTitleBarActivity" />
        <activity android:name=".normal.reflact.ReflactActivity" />
        <activity
            android:name=".other.tinker.TinkerActivity"
            android:label="@string/title_activity_tinker"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>